site_name: Dialogflow CX CLI
site_description: The missing Dialogflow CX CLI to interact with you Dialogflow projects.
site_author: Xavier Portilla Edo
site_url: https://cxcli.xavidop.me/

# Repository
repo_name: xavidop/dialogflow-cx-cli
repo_url: https://github.com/xavidop/dialogflow-cx-cli
edit_uri: "edit/master/docs/docs/"

copyright: |
  Copyright &copy; 2023 Xavier Portilla Edo
theme:
  name: material
  # custom_dir: docs/theme
  logo: images/logo.png

  palette:
  - scheme: default
    primary: black
    toggle:
      icon: material/toggle-switch-off-outline
      name: Switch to dark mode
  - scheme: slate
    primary: black
    toggle:
      icon: material/toggle-switch
      name: Switch to light mode

  font:
    text: Roboto, Helvetica
    code: Roboto Mono
  features:
    - navigation.tracking
    # - navigation.sections
    # - toc.integrate
    # - navigation.expand
    - search.suggest
    - search.highlight
    - search.share

    - navigation.instant

  include_search_page: false
  search_index_only: true

  language: en

  favicon: images/favicon.ico

extra:
  search:
    languages: "en"
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/xavidop/dialogflow-cx-cli
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/dialogflowcxcli

plugins:
  - search

markdown_extensions:
  - attr_list
  - md_in_html
  - markdown.extensions.admonition
  - markdown.extensions.codehilite:
      guess_lang: false
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:pymdownx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

nav:
  - Home: index.md
  - Overview:
      - Install: overview/install.md
      - Authentication: overview/authentication.md
      - Roadmap: overview/roadmap.md
      - FAQ: overview/faq.md
  # - Continuous Integration: ci.md
  - NLU Profiler:
    - Introduction: nluprofiler/introduction.md
    - Reference:
      - Suites: nluprofiler/suites.md
      - Tests: nluprofiler/tests.md
      - Examples:
        - Simple: nluprofiler/examples/simple.md
        - Text input with entities: nluprofiler/examples/text.md
        - System entities detection: nluprofiler/examples/system.md
        - Audio input: nluprofiler/examples/audio.md
  - Agents:
    - Introduction: agents/introduction.md
    - Restore: agents/restore.md
    - Export: agents/export.md
    - Delete: agents/delete.md
  - Intents:
    - Introduction: intents/introduction.md
    - Create: intents/create.md
    - Delete: intents/delete.md
  - Entity Types:
    - Introduction: entitytypes/introduction.md
    - Create: entitytypes/create.md
    - Delete: entitytypes/delete.md
  - Environments:
    - Introduction: environments/introduction.md
    - CI/CD: environments/cicd.md
  - Text-to-speech: tts.md
  - Speech-to-text: stt.md
  - Command Line Usage:
      - cxcli: cmd/cxcli.md
      - cxcli dialog: cmd/cxcli_dialog.md
      - cxcli agent: cmd/cxcli_agent.md
      - cxcli environment: cmd/cxcli_environment.md
      - cxcli intent: cmd/cxcli_intent.md
      - cxcli entity-type: cmd/cxcli_entity-type.md
      - cxcli profile-nlu: cmd/cxcli_profile-nlu.md
      - cxcli flow: cmd/cxcli_flow.md
      - cxcli flow-version: cmd/cxcli_flow-version.md
      - cxcli webhook: cmd/cxcli_webhook.md
      - cxcli stt: cmd/cxcli_stt.md
      - cxcli tts: cmd/cxcli_tts.md
      - cxcli jsonschema: cmd/cxcli_jsonschema.md
      - cxcli version: cmd/cxcli_version.md
  - Community:
    - Sponsors: community/sponsors.md
    - Users: community/users.md
    - Contributing: community/contributing.md
  - Troubleshooting: troubleshooting.md
  - Links: links.md

extra:
  analytics:
    provider: google
    property: G-J48NTVMG9Y
    anonymize_ip: true
