name: "grype"

on:
  push:
    branches: ['master']
    tags: ['v*']
  pull_request:

jobs:
  scan-source:
    name: scan-source
    runs-on: ubuntu-latest

    permissions:
      security-events: write
      actions: read
      contents: read

    steps:
    - uses: actions/checkout@v4
    - uses: anchore/scan-action/download-grype@v5
      id: grype
    - run: ${{steps.grype.outputs.cmd}} .